%h3.muted= t('teams.summary.defensive_points_header')
- if @defensive_points.size == 0
  .zero-items-text= t('teams.summary.zero_items_text')
- else
  %table.table.table-bordered.table-striped.table-hover
    %thead
      %tr
        %th= t('teams.defensive_points_table.challenge_header')
        %th= t('teams.defensive_points_table.points_header')
    %tbody
      - @defensive_points.each do |name, value|
        %tr
          %td= name
          %td= value
