%h4= t('teams.show.invite_member_header')
.open-invite
  .input-group
    %a.input-group-prepend{:class => "btn btn-primary copy-contents-btn"}
      %svg{xmlns: "http://www.w3.org/2000/svg", width: "16", height: "16", fill: "currentColor", class: "bi bi-clipboard", viewBox: "0 0 16 16"}
        %path{d: "M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"}
        %path{d: "M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"}
    %input.form-control{:readonly => true, :value => "wdjkadjawkljd-989812dawd-awhdiwh"}
    .input-group-append
      %a{:class => "btn btn-secondary"}= t('teams.show.generate_code')
  %p= t('teams.show.open_invite')
.direct-invite
  = form_for(@team, url: invite_team_path) do |team|
    = team.fields_for :user_invites, @team.user_invites.build do |invite_fields|
      .input-group
        %input.form-control{:placeholder => "Email Address", :name => 'team[user_invites_attributes][0][email]', :type => "email"}/
        .input-group-append
          = team.submit t('teams.show.invite_button'), :class => "btn btn-secondary"
  %p= t('teams.show.direct_invite')
