#filterrific_results
  %div
    .well.well-small
      .pull-right
        = link_to(                                     |
          t('users.join_team.reset_filters'),          |
          reset_filterrific_url,                       |
          :class => "btn btn-small"                    |
        )                                              |
      = page_entries_info teams # provided by kaminari
    - if !teams.empty?
      %hr/
      %div
        %table.table.table-hover.table-bordered
          %thead
            %tr
              %th= t('users.join_team.teams_table.name_header')
              %th= t('users.join_team.teams_table.affiliation_header')
              %th= t('users.join_team.teams_table.spots_header')
              %th= t('users.join_team.teams_table.division_header')
              %th= t('users.join_team.teams_table.request_join_header')
          %tbody
            - teams.each do |team|
              - if team.looking_for_members? && !team.users.size.zero?
                %tr
                  %td= team.team_name
                  %td= team.affiliation
                  %td= team.slots_available
                  %td= team.division.name
                  %td= button_to t('users.join_team.teams_table.request_join_button'), team_user_requests_path(team), :class => "btn btn-default"
  = paginate teams, :theme => 'twitter-bootstrap' # provided by kaminari
