%table.table.table-condensed.table-striped.table-overflow
  %thead
  %tr
    %th.span2= t('teams.invite.invite_requests_table.email_header')
    %th= t('teams.invite.invite_requests_table.prize_eligible_header')
    %th= t('teams.invite.invite_requests_table.requested_on_header')
    - if @team_captain
      %th= t('teams.invite.invite_requests_table.accept_request_header')
  - @pending_requests.each do |current|
    %tbody
      %tr{:class=>'warning'}
        %td
          .helpertext-wrapper-overflow{  'data-toggle' => 'tooltip', 'data-placement' => 'bottom', :title => current.user.email }
            =current.user.email
        %td
          = eligible?(current)
        %td= current.created_at.strftime("%b %d %Y")
        - if @team_captain
          %td
            = link_to accept_team_user_request_path(@team,current) do
              %i.icon-ok
            = link_to team_user_request_path(@team, current), method: :delete, data: { confirm: t('teams.show.reject_request_confirm') } do
              %i.icon-remove
