%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th #
      %th= t('teams.summary.score_adjustments_table.points_adjustment_header')
      %th= t('teams.summary.score_adjustments_table.discription_adjustment_header')
      %th= t('teams.summary.score_adjustments_table.when_adjustment_header')
  %tbody
    - @score_adjustments.each_with_index do |adjustment, i|
      %tr
        %td= i + 1
        %td= adjustment.point_value
        %td= adjustment.text
        %td= view_time_format(adjustment.created_at)
