%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th= t('teams.summary.solved_challenges_table.challenge_header')
      %th= t('teams.summary.solved_challenges_table.points_header')
      %th= t('teams.summary.solved_challenges_table.when_header')
  %tbody
    - @team.solved_challenges.each_with_index do |s, i|
      %tr
        %td= always_link_to_if_admin(s.challenge.open?, s.challenge.name, game_challenge_path(s.challenge))
        %td= solved_challenge_table_point_value(s, @team)
        %td= view_time_format(s.created_at)
