%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= t('teams.summary.solved_challenges_table.challenge_header')
      %th= t('teams.summary.solved_challenges_table.points_header')
      %th= t('teams.summary.solved_challenges_table.when_header')
    = render partial: 'teams/challenge_list_tbody', locals: { teams: @team.solved_challenges.slice(0..4), starting_rank: 1 }
    / This part of the list is hidden until the user clicks the "Show/Hide" button below
    = render partial: 'teams/challenge_list_tbody', locals: { |
             teams: @team.solved_challenges.slice(5..),       |
             starting_rank: 6,                                |
             tbody_class: 'hide'                              |
      }                                                       |
    - if @team.solved_challenges.size > 5
      %tr
        %td{align: 'center', colspan: '3', style: 'text-align: center;'}
          = link_to "Show/Hide", "#", :class => "toggler"
