%h3.muted Submitted Flags/Hour
- if @flags_per_hour.count > 1
  = line_chart @flags_per_hour, colors: ["#5d8cb6", '#446582']
- else
  %p No Solved Challenges
%hr
%h3.muted Solved Challenges
%div.row
  %div.span5
    - if @solved_challenges.size == 0
      .zero-items-text No Solved Challenges
    - else
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th #
            %th Category
            %th Points
            %th When
        %tbody
          - @solved_challenges.each_with_index do |s, i|
            %tr
              %td= i + 1
              %td= s.challenge.category.name
              %td= s.challenge.point_value
              %td= s.created_at.strftime("%b %e %y, %R %Z")
%hr
%h3.muted Team Map
= geo_chart @user_locations, colors: ["#5d8cb6", '#446582']
%br
