%h3.muted Team Flag Submissions
- if @solved_challenges.count > 0
  = line_chart @team_flag_submissions, colors: ['#b8d12f', '#00abca']
- else
  .zero-items-text Nothing to Report
%hr
%div.row
  %div.span5
    %h3.muted Solved Challenges
    - if @solved_challenges.size == 0
      .zero-items-text No Solved Challenges
    - else
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th #
            %th Category
            %th Points
            %th When
        %tbody
          - @solved_challenges.each_with_index do |s, i|
            %tr
              %td= i + 1
              %td= s.challenge.category.name
              %td= s.challenge.point_value
              %td= s.created_at.strftime("%b %e %y, %R %Z")
  %div.span7
    %h3.muted Solved Challenge Categories
    - if @solved_challenges.size == 0
      .zero-items-text No Solved Challenges
    - else
      = pie_chart @flag_categories
- if current_user&.admin?
  %hr
  %div.row
    %div.span5
      %h3.muted Team Members
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th User ID
            %th Name
            %th Email
        %tbody
          - @team.users.each do |user|
            %tr
              %td=link_to user.id, rails_admin.show_path("user", user)
              %td= user.full_name
              %td= user.email
    %div.span7
      %h3.muted Per User Statistics
      - if @solved_challenges.size == 0
        .zero-items-text Nothing to Report
      - else
        = column_chart @per_user_stats, legend: 'bottom', xtitle: "User ID", stacked: true, colors: ['#b8d12f', '#00abca']
%br
