- content_for :header do
  .break-word= header_with_points(@team)

- content_for :subheading do
  = t('teams.show.subheading', affiliation: @team.affiliation)

%table.table.table-condensed.table-striped#usertable
  %thead
    %tr
      %th.span1= t('teams.users_table.team_leader_header')
      %th= t('teams.users_table.email_header')
      %th= t('teams.users_table.grade_header')
      %th.span2= t('teams.users_table.prize_eligibility_header')
      %th= t('teams.users_table.remove_user_header')
      - if @team_captain
        %th
          = t('teams.users_table.change_captian_header')
  - @team.users.each do |current|
    %tbody
      %tr{ :class=>'success' }
        %td
          -if current == @team.team_captain
            = fa_icon 'check'
        %td=current.email
        %td=current.division
        %td
          -if current.compete_for_prizes
            = t('teams.users_table.compete_for_prizes_true')
          -else
            = t('teams.users_table.compete_for_prizes_false')
        %td
          - if current_user.can_remove?(current)
            = link_to team_user_leave_team_path(current.team, current), method: :delete, data: { confirm: t('teams.show.remove_user_confirm') } do
              = fa_icon 'user-times'
        - if @team_captain
          %td
            - if current_user.can_promote?(current)
              = link_to team_user_promote_path(current.team_id, current), method: :get, data: { confirm: t('teams.show.promote_confirm') } do
                %i.exchange-alt
%hr
.container
  .row
    .col-sm
      %h4= t('teams.show.team_prize_eligibility_status')
      = t('teams.show.eligible_currently')
      - if @team.eligible?
        = t('teams.show.eligible_true')
      - else
        %b= t('teams.show.eligible_false_not')
        = t('teams.show.eligible_false')
    .col-sm
      %h4= t('teams.show.team_division_status')
      = t('teams.show.currently_selected_division', division: @team.division.name)
      - if @team.appropriate_division_level?
        = t('teams.show.division_true')
      - else
        = t('teams.show.division_false')
%hr
.container
  .row
    .col-sm
      %h3= t('teams.show.pending_invites_header')
      - if @pending_invites.empty?
        = t('teams.show.pending_invites_false')
      - else
        = render partial: 'teams/invites_table'
    .col-sm
      %h3= t('teams.show.pending_requests_header')
      - if @pending_requests.empty?
        = t('teams.show.pending_requests_false')
      - else
        = render partial: 'teams/requests_table'
%br
.container
  .row
    .col-sm
      - if team_editable?
        = render partial: 'teams/invites_form'
%hr
= render partial: 'team_summary'
