- content_for :header do
  .break-word= display_name(@team)

- content_for :subheading do
  = t('teams.show.subheading', aff: @team.affiliation)

%table.table.table-condensed.table-striped
  %thead
  %tr
    %th.span1 Lead
    %th Email
    %th Appropriate Division
    %th.span2 Prize Eligible?
    %th Remove
    - if @team_captain
      %th Change Captain
  - @team.users.each do |current|
    %tbody
      %tr{ :class=>'success' }
        %td
          -if current == @team.team_captain
            %i.icon-ok
        %td=current.email
        %td=current.division
        %td
          -if current.compete_for_prizes
            Yes
          -else
            No
        %td
          - if current_user.can_remove?(current)
            = link_to team_user_leave_team_path(current.team, current), method: :delete, data: { confirm: t('teams.show.remove_user_confirm') } do
              %i.icon-remove
        - if @team_captain
          %td
            - if current_user.can_promote?(current)
              = link_to team_user_promote_path(current.team_id, current), method: :get, data: { confirm: t('teams.show.promote_confirm') } do
                %i.icon-star
%hr
.row
  .span6
    %h4 Team Prize Eligibility Status
    = t('teams.show.eligible_currently')
    - if @team.eligible?
      = t('teams.show.eligible_true')
    - else
      %b= t('teams.show.eligible_false_not')
      = t('teams.show.eligible_false')
  .span6
    %h4 Team Division Status
    = t('teams.show.currently_selected_division', division: @team.division.name)
    - if @team.appropriate_division_level?
      = t('teams.show.division_true')
    - else
      = t('teams.show.division_false')
%hr
.row
  .span6
    %h3= t('teams.show.pending_invites_heading')
    - if @pending_invites.empty?
      = t('teams.show.pending_invites_false')
    - else
      = render partial: 'teams/invites_table'
    - if team_editable?
      = render partial: 'teams/invites_form'
  .span6
    %h3= t('teams.show.pending_requests_heading')
    - if @pending_requests.empty?
      = t('teams.show.pending_requests_false')
    - else
      = render partial: 'teams/requests_table'
%hr
= render partial: 'team_summary'
