- content_for :header do
  See your Team
%h2.break-word= display_name(@team)
%h3.break-word Affiliation: #{@team.affiliation}
%table.table.table-condensed.table-striped
  %thead
  %tr
    %th.span1 Lead
    %th Email
    %th Appropriate Division
    %th.span2 Prize Eligible?
    %th Remove
    - if @team_captain
      %th Change Captain
  - @team.users.each do |current|
    %tbody
      %tr{ :class=>'success' }
        %td
          -if current == @team.team_captain
            %i.icon-ok
        %td=current.email
        %td=current.division
        %td
          -if current.compete_for_prizes
            Yes
          -else
            No
        %td
          - if current_user.can_remove?(current)
            = link_to team_user_leave_team_path(current.team, current), method: :delete, data: { confirm: t('teams.show.remove_user_confirm') } do
              %i.icon-remove
        - if @team_captain
          %td
            - if current_user.can_promote?(current)
              = link_to team_user_promote_path(current.team_id, current), method: :get, data: { confirm: t('teams.show.promote_confirm') } do
                %i.icon-star
%hr
.row
  .span6
    %h4 Team Prize Eligibility Status
    = t('teams.show.eligible_currently')
    - if @team.eligible?
      = t('teams.show.eligible_true')
    - else
      %b= t('teams.show.eligible_false_not')
      = t('teams.show.eligible_false')
  .span6
    %h4 Team Division Status
    = t('teams.show.currently_selected_division', division: @team.division.name)
    - if @team.appropriate_division_level?
      = t('teams.show.division_true')
    - else
      = t('teams.show.division_false')
%hr
.row
  .span6
    %h3 Pending User Invites
    - if @pending_invites.empty?
      = t('teams.show.pending_invites_false')
    - else
      %table.table.table-condensed.table-striped.table-overflow
        %thead
        %tr
          %th.span2
            Email
          %th
            Prize Eligible?
          %th
            Division
          - if @team_captain
            %th
              Cancel Invite
        - @pending_invites.each do |current|
          %tbody
            %tr{:class=>'warning'}
              %td
                .helpertext-wrapper-overflow{ 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', :title => current.email }
                  = current.email
              %td
                - if current.user.nil?
                  .helpertext-wrapper{  'data-toggle' => 'tooltip', 'data-placement' => 'right', :title => t('teams.show.eligible_help') }
                    %i.icon-question-sign
                - elsif current.user.compete_for_prizes
                  Yes
                - else
                  No

              %td
                - if current.user.nil?
                  .helpertext-wrapper{  'data-toggle' => 'tooltip', 'data-placement' => 'right', :title => t('teams.show.eligible_help') }
                    %i.icon-question-sign
                - else
                  = current.user.division
              - if @team_captain
                %td
                  = link_to team_user_invite_path(@team, current), method: :delete, data: { confirm: t('teams.show.cancel_invite.confirm') } do
                    %i.icon-remove
    - if team_editable?
      = form_for(@team, url: invite_team_path) do |team|
        %h4 Invite a Team Member
        = team.fields_for :user_invites, @team.user_invites.build do |invite_fields|
          .control-group
            = invite_fields.label :email, :class => "control-label"
            .controls
              = invite_fields.email_field :email, :class => "textarea"
        .controls
          = team.submit t('teams.show.invite_button'), :class => "btn"
  .span6
    %h3 Pending User Requests
    - if @pending_requests.empty?
      = t('teams.show.pending_requests_false')
    - else
      %table.table.table-condensed.table-striped.table-overflow
        %thead
        %tr
          %th.span2
            Email
          %th
            Prize Eligible?
          %th
            Requested On
          - if @team_captain
            %th
              Accept?
        - @pending_requests.each do |current|
          %tbody
            %tr{:class=>'warning'}
              %td
                .helpertext-wrapper-overflow{  'data-toggle' => 'tooltip', 'data-placement' => 'bottom', :title => current.user.email }
                  =current.user.email
              %td
                -if current.user.compete_for_prizes
                  Yes
                -else
                  No
              %td=current.created_at.strftime("%b %d %Y")
              - if @team_captain
                %td
                  = link_to accept_team_user_request_path(@team,current) do
                    %i.icon-ok
                  = link_to team_user_request_path(@team, current), method: :delete, data: { confirm: t('teams.show.reject_request_confirm') } do
                    %i.icon-remove
%hr
= render partial: 'team_summary'
