- content_for :header do
  See your Team

.container
  %h2 #{@team.team_name} - Team Information
  %table.table.table-condensed.table-striped
    %thead
    %tr
      %th.span1
        Lead
      %th Email
      %th Status
    - @team.users.each do |current|
      %tbody 
        %tr{:class=>current.confirmed? ? 'success' : 'warning'}
          %td 
            -if current == @team.team_captain
              %i.icon-ok
          %td=current.email
          -if current.confirmed?
            %td='Accepted'
          -else
            %td='Pending'
  - if is_editable
    = form_for(@team) do |team|
      %h3 Invite a Team Member
      = team.fields_for :user_invites, @team.user_invites.build do |invite_fields|
        .control-group
          = invite_fields.label :email, :class => "control-label"
          .controls
            = invite_fields.text_field :email, :class => "textarea"
      .controls
        = team.submit "Invite Member", :class => "btn"