- content_for :header do
  See your Team

.container
  %h2 #{@team.team_name} - Team Information
  %table.table.table-condensed.table-striped
    %thead
    %tr
      %th.span1 Lead
      %th Email
      %th Remove
    - @team.users.each do |current|
      %tbody 
        %tr{:class=>'success'}
          %td 
            -if current == @team.team_captain
              %i.icon-ok
          %td=current.email
          %td
            - if current != @team.team_captain
              = link_to team_user_leave_team_path(current.team, current), method: :delete, data: {confirm: "Are you sure?"} do
                %i.icon-remove
  .row
    .span6
      %h3 Pending User Invites
      - if @pending_invites.empty?
        No pending invites at this time.
      - else
        %table.table.table-condensed.table-striped
          %thead
          %tr
            %th
              Email
            %th
              Invited On
            %th
              Cancel Invite
          - @pending_invites.each do |current|
            %tbody 
              %tr{:class=>'warning'}
                %td=current.email
                %td=current.created_at.strftime("%b %d %Y")
                %td
                  = link_to team_user_invite_path(@team, current), method: :delete, data: {confirm: "Are you sure?"} do
                    %i.icon-remove
      - if is_editable
        = form_for(@team) do |team|
          %h4 Invite a Team Member
          = team.fields_for :user_invites, @team.user_invites.build do |invite_fields|
            .control-group
              = invite_fields.label :email, :class => "control-label"
              .controls
                = invite_fields.text_field :email, :class => "textarea"
          .controls
            = team.submit "Invite Member", :class => "btn"
    .span6
      %h3 Pending User Requests
      - if @pending_requests.empty?
        No pending join requests at this time.
      - else
        %table.table.table-condensed.table-striped
          %thead
          %tr
            %th
              Email
            %th
              Requested On
          - @pending_requests.each do |current|
            %tbody 
              %tr{:class=>'warning'}
                %td=current.email
                %td=current.created_at.strftime("%b %d %Y")