- content_for :header do
  .break-word= display_name(@team)

- content_for :subheading do
  = t('teams.show.subheading', aff: @team.affiliation)

%h2.break-word= @team.division.name
%h3.break-word= pluralize(@team.solved_challenges.size, 'solved challenge')
%hr

= render partial: 'team_summary'
