- content_for :header do
  #{@team.display_name}

- content_for :subheading do
  #{@team.division.name} - #{@solved_challenges.size} solved #{pluralize(@solved_challenges.size, 'challenge')}

= render partial: 'team_summary'
