- content_for :header do
  = t('messages.messages_header')
- if @messages.count == 0
  .zero-items-text
  %h4= t('messages.no_messages')
- else
  - @messages.each do |m|
    %div.message
      %h2
        = m.title
        %small= m.updated_at.strftime("%b %e, %R %Z")
      = sanitize(Kramdown::Document.new(m.text).to_html)
    %hr
  = paginate @messages, :theme => 'twitter-bootstrap-4'
