%p
  Hello #{@user.full_name}!
%p.pull-right#clock
  %aS
    #time_remaining
      This is a reminder for the upcoming #{@game.organization} #{@game.title} which will start at #{@game.start}.
%p Click the link below to login and check your account
%p #{link_to @game.title, home_index_url}.
= render partial: 'layouts/countdown', locals: { endTime: @game.stop }
