%p
  = t('user_mailer.invite_user.greeting', email: @invite.email)
%p
  = t('user_mailer.invite_user.invite_line_1')
  %b #{@team.team_name}
  = t('user_mailer.invite_user.invite_line_2', organization: @game.organization, title: @game.title)
- if @invite.user.nil?
  %p= t('user_mailer.invite_user.register')
  %p= link_to 'Create my account', new_user_registration_url(:email => @invite.email)
- else
  %p= t('user_mailer.invite_user.view')
  %p= link_to 'View invitation', join_team_users_url
