%p
  Hello #{@user.full_name}!
%p
  Congratulations on completing the MITRE CTF! Your team, #{@user.team.team_name} came ranked #{@rank.ordinalize}.
- if (@rank.eql? 1) && @team.eligible?
  %p
    Because you finished on the first-place team in the #{@div.name} Division, you could be eligible for a scholarship.  Please upload your unofficial
    college, university, or high school transcript AND an up-to-date resume to your #{link_to 'profile', edit_user_registration_url} on the scoreboard to verify your eligibility.
    Both a transcript and a resume are required for the award of any scholarship prize.
- if (@team.score > 0) && @user.interested_in_employment?
  %p
    If you are interested in working at MITRE, please apply using the link below which best matches your situation:
  %p
    #{link_to 'I am seeking a software engineering internship position.', 'https://mitre.referrals.selectminds.com/jobs/search/496723'}
  %p
    #{link_to 'I am seeking a cyber security internship position.', 'https://mitre.referrals.selectminds.com/jobs/search/496682'}
  %p
    #{link_to 'I am seeking a full-time software engineering position.', 'https://mitre.referrals.selectminds.com/jobs/search/506904'}
  %p
    #{link_to 'I am seeking a full-time cyber security position.', 'http://f.rfer.us/MITREvG.1q2'}
  %p
    Also, please take the time to make sure your #{link_to 'resume is uploaded', edit_user_registration_url} during this step.
  %p
    While this competition was open to professional and government participants as part of cyber training, only
    eligible teams composed of high school and college students will be considered for winning prizes, scholarships and
    internships. Participation in a MITRE or industry partner cyber internship program is subject to an interviewing
    process and based on current business needs.
%p
  Stay tuned for a notification when all solved challenges from the competition are open sourced.
%p
  Thanks for participating!
%p -The MITRE CTF Team
