%p
  Hello team
  %b
    #{@team.team_name}

%p
  Your team credentials are listed below. Happy hunting.

%p
  %b
    URL:
  #{@scoreboard_url}
  %br
  %b
    Username:
  #{@team_username}
  %br
  %b
    Password:
  #{@team_password}

%p
  Please make sure to read our #{link_to 'rules', 'http://mitrecyberacademy.org/competitions/rules/'}.

%p
  In order to complete many of the challenges you will need to download a VPN certificate. These can be found on the scoreboard by logging in with your credentials, clicking on "My Team" in the top right corner and then clicking "Download Cert". You can find more in depth instructions on how to setup the VPN connection #{link_to 'here', 'http://mitrecyberacademy.org/learn/play/'}.

%p
  If you have any questions regarding the CTF please feel free to come ask us at #{link_to '#mitrectf', 'https://webchat.freenode.net/?channels=mitrectf'} on freenode.net.

%p
  \-The Whitecell
