%h3= t('users.join_team.pending_team_requests_header')
  %small= t('users.join_team.requests_header_desc')
%table.table.table-condensed.table-striped
  %thead
  %tr
    %th= t('teams.invite.requested_join_team_table.team_name_header')
    %th= t('teams.invite.requested_join_team_table.requested_on_header')
    %th= t('teams.invite.requested_join_team_table.cancel_request_header')
  - @pending_requests.each do |current|
    %tbody
      %tr{:class=>'warning'}
        %td=current.team.team_name
        %td=current.created_at.strftime("%b %d %Y")
        %td
          = link_to team_user_request_path(current.team, current), method: :delete, data: {confirm: t('users.join_team.delete_request_confirmation')} do
            %i.icon-remove
