- content_for :header do
  = t('users.join_team.header')
- unless @pending_invites.empty?
  = render partial: 'users/join_team_invites_table'
- unless @pending_requests.empty?
  = render partial: 'users/join_team_requests_table'
%h3= t('users.join_team.search_for_team_header')

= form_for_filterrific @filterrific, html: { class: 'form_for_filterrific' } do |f|
  .card.card-body.bg-light
    .container
      .form-group.row
        .col-lg
          Team Name
          = f.text_field(                                                   |
              :filter_team_name,                                            |
              class: 'filterrific-periodically-observed form-control span3' |
            )                                                               |
        .col-lg
          Affiliation
          = f.text_field(                                                   |
              :filter_affiliation,                                          |
              class: 'filterrific-periodically-observed form-control span3' |
            )                                                               |
        .col-lg
          Country
          = f.select(                                 |
              :country,                               |
              @filterrific.select_options[:country],  |
              { :include_blank => '- Any -' },        |
              :class => "span2 form-control",         |
            )                                         |
        .col-lg#state
          State
          = f.select(                                 |
              :state,                              |
              @filterrific.select_options[:state],    |
              { :include_blank => '- Any -' },        |
              :class => "span2 form-control",         |
            )                                         |
        .col-lg
          Division
          = f.select(                                 |
              :division,                              |
              @filterrific.select_options[:division], |
              { :include_blank => '- Any -' },        |
              :class => "span3 form-control",         |
            )                                         |
        .span1
          = render_filterrific_spinner

= render(                                 |
  partial: 'teams/list',                  |
  locals: { teams: @teams }               |
)                                         |
