- content_for :header do
  = @game&.title

.container
  .catchphrase
    - if @game.before_competition?
      %h2 Register for the CTF
    - elsif @game.open?
      %h2 Competition in Progress
    - else
      %h2 Competition has Completed
  .maincontent.row-fluid.indent-40px-left
    = sanitize(Kramdown::Document.new(@game&.description).to_html)
    %p
      %b
        %u= t('home.index.when_to_compete')
    %p= t('home.index.when_to_compete_info', start_time: view_time_format(@game.start), end_time: view_time_format(@game.stop))
    - unless @game&.contact_url.blank?
      %p
        %b
          %u= t('home.index.stuck')
      %p= t('home.index.stuck_info', contact_url: link_to('contact us', @game.contact_url))
  - unless @game.after_competition?
    - if user_signed_in?
      .btn-toolbar
        .pagination-centered
          - if current_user.on_a_team?
            .btn-group
              = link_to t('home.index.join_team'), team_path(current_user.team_id), :class => "btn btn-large btn-primary"
          - else
            .btn-group
              = link_to t('home.index.join_team'), join_team_users_path, :class => "btn btn-large btn-primary"
            .btn-group
              = link_to t('home.index.create_team'), new_team_path, :class => "btn btn-large btn-primary"
    - else
      .btn-toolbar
        .pagination-centered
          .btn-group
            = link_to t('home.index.register'), new_user_registration_path, :class => "btn btn-large btn-primary"
