- content_for :header do
  = @game&.title

.container
  .catchphrase
    - if @game.before_competition?
      %h2 Register for the CTF
    - elsif @game.open?
      %h2 Competition in Progress
    - else
      %h2 Competition has Completed
  .maincontent.row-fluid.indent-40px-left
    = sanitize(Kramdown::Document.new(@game&.description).to_html)
    %p
      %b
        %u When to compete
    %p This competition will run from #{@game.start.strftime('%B %e at %l:%M %p %Z')} until #{@game.stop.strftime('%B %e at %l:%M %p %Z')}.
    - unless @game&.contact_url.blank?
      %p
        %b
          %u Help, I'm Stuck!
      %p We'd be happy to give you a hand if you #{ link_to 'contact us', @game.contact_url}.
  - if user_signed_in?
    .btn-toolbar
      .pagination-centered
        - if current_user.on_a_team?
          .btn-group
            = link_to "See your team", team_path(current_user.team_id), :class => "btn btn-large btn-primary"
        - else
          .btn-group
            = link_to "Join a Team", join_team_users_path, :class => "btn btn-large btn-primary"
          .btn-group
            = link_to "Create a Team", new_team_path, :class => "btn btn-large btn-primary"
  - else
    .btn-toolbar
      .pagination-centered
        .btn-group
          = link_to "Register", new_user_registration_path, :class => "btn btn-large btn-primary"
