- if divisions.size > 1
  .panel.panel-default
    -# Generate tabs for each division with a name
    %ul.nav.nav-tabs#summaryTabs
      - divisions.each do |d|
        %li{ :class => ('active' if active_division.eql? d) }
          = link_to "#{d.name}", "#division-#{d.id}-tab", "data-toggle"=>"tab"
    .tab-content
      - divisions.each do |d|
        .tab-pane{ :class => ('active' if active_division.eql? d), :id => "division-#{d.id}-tab" }
          = render partial: "games/team_list", locals: { teams: d.ordered_teams(true) }
- else
  .container-fluid
    - hide_view_all_teams = false unless hide_view_all_teams.nil?
    = render partial: "games/team_list", locals: { teams: divisions.first&.ordered_teams(true)}
