%h4
  = t('game.legend.legend_name')
%blockquote
  %p{style: "font-size: 1rem;"}
    %b{style: "color:#006600;"}
      = t('game.legend.dark_green')
    = t('game.legend.dark_green_desc')
    %br/
    %b{style: "color:#009900;"}
      = t('game.legend.green')
    = t('game.legend.green_desc')
    %br/
    %b{style: "color:#00cc00;"}
      = t('game.legend.light_green')
    = t('game.legend.light_green_desc')
    %br/
    %b{style: "color:#00abca;"}
      = t('game.legend.blue')
    = t('game.legend.blue_desc')
    %br/
    %b{style: "color:#999999;"}
      = t('game.legend.gray')
    = t('game.legend.gray_desc')
    %br/
    %b{style: "color:#800000;"}
      = t('game.legend.red')
    = t('game.legend.red_desc')
