- if teams.nil? or teams.size.eql? 0
  .zero-items-text No Teams
- else
  - max = 0
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th{ :style => "width:50px;" } #
        %th=t('game.team_list.team_name') # The team's name
        %th{ :style => "width:100px;" }= t('game.team_list.team_achievements') # The team's achievements
        %th{ :style => "width:100px;" }= t('game.team_list.team_points') # The number of points the team has
        %th{ :style => "width:50%;" }
    %tbody
      - teams.each_with_index do |t, i|
      / Current score only exists due to the division.rb model creating it inside of
      / filter_and_sort_teams, it is used here since it saves us from doing a costly
      / score recalculation for each user.
      - score = t.current_score
      - if score > max
        - max = score
      - percent = score.to_f / max.to_f * 100.0
        %tr{i > 4 ? {class: "hide"} : {}}
          %td= i + 1
          %td.break-word= link_to display_name(t), summary_team_path(t)
          %td= t.achievements.size
          %td= score
          %td
            .progress{ :style => "margin:0;" }
              .bar{ :style => "width:#{percent}%;" }
    - if @view_all_teams_link
      %tr
        %td{align: 'center', colspan: '5', style: 'text-align: center;'}
          = link_to 'Show/Hide Teams', "#", :class => "toggler"
