- if teams.nil? or teams.size.eql? 0
  .zero-items-text= t('teams.summary.zero_items_text')
- else
  - max = 0
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th{ :style => "width:50px;" } #
        %th=t('game.team_list.team_name') # The team's name
        %th{ :style => "width:100px;" }= t('game.team_list.team_achievements') # The team's achievements
        %th{ :style => "width:100px;" }= t('game.team_list.team_points') # The number of points the team has
        %th{ :style => "width:50%;" }
      / Get the first teams score and use that as the full score bar
      - max_score = teams.first.current_score
      / We pass in starting_rank here to start the list at the proper index
      = render partial: 'games/team_list_tbody', locals: { teams: teams.slice(0..4), starting_rank: 1, max_score: max_score }
      / This part of the list is hidden until the user clicks the 'Show/Hide Teams' button below
      = render partial: 'games/team_list_tbody', locals: { |
               teams: teams.slice(5..),                    |
               starting_rank: 6,                           |
               max_score: max_score,                       |
               tbody_class: 'hide'                         |
        }                                                  |
    - if teams.count > 5
      %tr
        %td{align: 'center', colspan: '5', style: 'text-align: center;'}
          = link_to 'Show/Hide Teams', "#", :class => "toggler"
