- content_for :header do
  = @game.title

- if @pentest_challenges.size == 0 && @standard_challenges.size == 0
  %h4.zero-items-text= t('game.show.no_challenges')
- else
  -# Render based on the user selected gameboard layout
  = render partial: "games/#{@game.board_layout}_table"
  - unless @pentest_challenges.empty?
    %hr
    -# Always render PentestChallenges. This provides us with the ability to
    -# have Attack/Defend games with Generic challenge types on top
    = render partial: 'games/pentest_game_table'
= render partial: 'games/legend'
