- content_for :header do
  = t('game.summary.header')

%h3.text-muted
  = t('game.summary.teams_summary')
%br/
= render partial: "games/divisions", locals: { divisions: @game.divisions, active_division: @active_division}
%hr
/ Only show the flags per hour count when we have more than 1 datapoint to show
- if @flags_per_hour.count > 1
  %h3.text-muted
    = t('teams.summary.flag_submissions_header')
    = line_chart @line_chart_data, colors: ['#b8d12f', '#00abca']
