- content_for :admin_menu do
  %li= link_to %[Edit "#{@challenge.name}"], rails_admin.edit_path("challenge", @challenge.id)

- content_for :header do
  = @challenge.name

- content_for :subheading do
  - "#{@challenge.category.name} - #{@challenge.point_value} points"

%div{ :style => "margin-bottom:40px;" }
  %h3
    Description
  - if @challenge.description.blank?
    No description
  - else
    = sanitize(Kramdown::Document.new(@challenge.description).to_html)
- if !@solved_video_url.blank?
  .embed-container
    = embed(@solved_video_url)

- if !@solved_challenge
  = form_for @challenge, url: game_challenge_path(@challenge), method: "put", html: { class: "well", style: "margin-bottom:40px;" } do |f|
    .control-group
      %p Submit Flag
    .control-group
      .controls
        = f.text_field :submitted_flag, :class => "span5"
    .control-group
      = invisible_recaptcha_tags text: 'Submit', :class => "btn btn-primary"

- if @solved_by.length > 0
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th #
        %th Team
        %th Division
        %th When
    %tbody
      - @solved_by.each_with_index do |e, i|
        %tr
          %td= i + 1
          %td= link_to e.team.display_name, summary_team_path(e.team)
          %td= e.team.division.name
          %td= e.created_at.strftime("%b %e %y, %R %Z")
