-# For PentestGames, @challenge here can actually be a flag object since Pentest challenges belong to teams + challenges and are linked by a flag object.

- content_for :admin_menu do
  %li= link_to %[Edit "#{@challenge.name}"], (@challenge.is_a?(Flag) ? rails_admin.edit_path("pentest_challenge", @challenge.challenge_id) : nil)

- content_for :header do
  = @challenge.name

- content_for :subheading do
  - if @defense_team
    - "#{@defense_team.team_name} - #{@challenge.point_value(current_user&.team)} points"
  - else
    - "#{@challenge.category.name} - #{@challenge.point_value} points"

%div{ :style => "margin-bottom:40px;" }
  %h3
    Description
  - if @challenge.description.blank?
    No description
  - else
    = sanitize(Kramdown::Document.new(@challenge.description).to_html)
- if !@solved_video_url.blank?
  .embed-container
    = embed(@solved_video_url)

- if @solvable
  = form_for :challenge, url: @challenge.is_a?(Flag) ? game_team_challenge_path(@defense_team, @challenge.challenge_id) : game_challenge_path(@challenge), method: "put", html: { class: "well", style: "margin-bottom:40px;" } do |f|
    .control-group
      %p Submit Flag
    .control-group
      .controls
        = f.text_field :submitted_flag, :class => "span5"
    .control-group
      = invisible_recaptcha_tags text: 'Submit', :class => "btn btn-primary"

- if @solved_by.length > 0
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th #
        %th Team
        %th Division
        %th When
    %tbody
      - @solved_by.each_with_index do |e, i|
        %tr
          %td= i + 1
          %td= link_to display_name(e.team), summary_team_path(e.team)
          %td= e.team.division.name
          %td= e.created_at.strftime("%b %e %y, %R %Z")
