%h2
  = t('users.edit.password.password_edit_header')
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  - if resource.errors.any?
    .alert.alert-danger
      %a.close{"data-dismiss" => "alert", :href => "#"} ×
      = pluralize(resource.errors.count, "error")
      = t('users.edit.error')
      %ul.errors
        - resource.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :reset_password_token
  %div
    = f.label :password, t('users.edit.label.password')
    %br/
    = f.password_field :password
  %div
    = f.label :password_confirmation, t('users.edit.label.password_confirmation')
    %br/
    = f.password_field :password_confirmation
  %div= button_tag :Reset, :label => t('users.edit.label.password_change'), :class => "btn"
= render "users/shared/links"
