- content_for :header do
  = t('achievements.index.header')
- if @achievements.count == 0
  %h4.zero-items-text= t('achievements.index.zero_items_text')
- else
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th= t('achievements.index.table_header_achievement_name')
        %th= t('achievements.index.table_header_unlocked_by')
        %th= t('achievements.index.table_header_when')
    %tbody
      - @achievements.each do |a|
        %tr
          %td= a.text
          %td.break-word= link_to display_name(a.team), summary_team_path(a.team)
          %td= a.created_at.strftime("%b %e %y, %R %Z")
