.container
  .row-fluid
    %p.pull-right
      %a{:href => "#"} Back to top
    %p
      = "#{sanitize(@game.footer)} |" unless @game&.footer.blank?
      = link_to t('application.terms_of_service'), terms_of_service_game_path
      |
      = link_to t('application.terms_and_conditions'), terms_and_conditions_game_path
    %p
      = t('application.open_source_statement_1')
      = link_to 'available', t('application.github_link')
      = t('application.open_source_statement_2')
