.container
  .row-fluid
    %p.float-right
      %a{:href => "#"}
        = t('home.index.back_to_top')
    %p
      = "#{sanitize(@game.footer)} |" unless @game&.footer.blank?
      = link_to t('application.terms_of_use.terms_of_service'), terms_of_service_game_path
      |
      = link_to t('application.terms_of_use.terms_and_conditions'), terms_and_conditions_game_path
    = t('application.open_source_statement_html', href: link_to(t('application.open_source_link_text'), t('application.github_link')))
