%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %a.navbar-brand{:href => "/"}= organization_for_navbar(@game)
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{:href => game_path}= t('application.navbar.challenges')
      %li.nav-item
        %a.nav-link{:href => game_messages_path}= t('application.navbar.messages')
        %span.badge.badge-important= unread_messages(@unread_message_count)
      %li.nav-item
        %a.nav-link{:href => game_achievements_path}= t('application.navbar.achievements')
      %li.nav-item
        %a.nav-link{:href => game_summary_path}= t('application.navbar.summary')
      - unless @game.contact_url.blank?
        %li.nav-item
          %a.nav-link{:href => @game.contact_url}= t('application.navbar.contact')
    %form.form-inline.my-2.my-lg-0
      = render partial: 'layouts/dropdown'
