!!!
%html
  %head
    %title= @game.name
    = stylesheet_link_tag    "application"
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js" if @page_requires_gcharts
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"} MITRE CTF
          .nav-collapse.collapse
            %ul.nav
              - if !@game.before_competition? || current_user&.admin?
                %li{:class => "#{'active' if current_page? game_path}"}
                  %a{:href => game_path} Gameboard
              %li{:class => "#{'active' if current_page? game_messages_path}"}
                %a{:href => game_messages_path}
                  Messages
                  - if !@unread_message_count&.eql? 0
                    %span.badge.badge-important= @unread_message_count
              - if !@game.before_competition? || current_user&.admin?
                %li{:class => "#{'active' if current_page? game_achievements_path}"}
                  %a{:href => game_achievements_path} Achievements
                %li{:class => "#{'active' if current_page? game_summary_path}"}
                  %a{:href => game_summary_path} Summary
              %li
                %a{:href => "http://mitrecyberacademy.org/contact", :target => "_blank"}
                  Contact
            %ul.nav.pull-right
              - if user_signed_in?
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    Hello #{current_user.full_name}
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      - if current_user.admin?
                        = link_to "Admin", rails_admin_path
                        %li.divider
                        %li= link_to "Post a new Message", rails_admin.new_path("message")
                        %li= link_to "View Submitted Flags", rails_admin.index_path("submitted_flag")
                        %li= link_to "Award an Achievement", rails_admin.new_path("achievement")
                        %li= link_to "New score adjustment", rails_admin.new_path("score_adjustment")
                        - if content_for?(:admin_menu)
                          %li.divider
                          = yield :admin_menu
                      - elsif current_user.on_a_team?
                        = link_to "See your team", team_path(current_user.team_id)
                        - if current_user.team_captain?
                          = link_to "Edit your team", edit_team_path(current_user.team_id)
                      - else
                        = link_to "Join a team", join_team_users_path
                        = link_to "Create a team", new_team_path
                      %li.divider
                    %li
                      = link_to "Edit your account", edit_user_registration_path, :method => :get
                      = link_to "Log out", destroy_user_session_path, :method => :delete
              - else
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    Log in / Register
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      =link_to "Log in", new_user_session_path
                    %li.divider
                    %li
                      =link_to "Register", new_user_registration_path
    %header#subpage.jumbotron.masthead.remove_top_padding
      .container
        %h1
          = yield :header
          - if @game.open?
            = render partial: "games/countdown", locals: {endTime: @game.stop}

        %p
          = yield :subheading
    .colored-divider
    .container
      - if !flash[:notice].blank?
        .alert.alert-success
          %a.close{"data-dismiss" => "alert", :href => "#"} ×
          = notice
      - if !flash[:alert].blank?
        .alert.alert-error
          %a.close{"data-dismiss" => "alert", :href => "#"} ×
          = alert
      - if content_for? :vpn_cert_download
        = yield :vpn_cert_download
      - elsif !current_user&.vpn_cert_downloaded? && current_user&.vpn_cert_available?
        = render partial: "users/vpn_cert_alert"
    .container
      = yield
  %footer#page-footer.well.footer
    .container
      .row-fluid
        %p.pull-right
          %a{:href => "#"} Back to top
        %p
          %a{:href => "http://www.mitre.org"} MITRE
          Cyber Academy
          |
          %a{:href => "http://mitrecyberacademy.org/terms-of-service"} Terms of Service
        %p
          Copyright &copy
          = Time.now.year
          The MITRE Corporation
