!!!
%html
  %head
    %title= @game&.title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          = render partial: 'layouts/navbar'
          = render partial: 'layouts/dropdown'
    %header#subpage.jumbotron.masthead.remove_top_padding
      .container
        %h1
          = yield :header
          - if @game&.open?
            = render partial: 'layouts/countdown', locals: { endTime: @game.stop }
        %p
          = yield :subheading
    .colored-divider
    .container
      = render partial: 'layouts/flash_anchor'
    .container
      = yield
  %footer#page-footer.well.footer
    = render partial: 'layouts/footer'
