%p= t('user.mail.reset_password.greeting', fullname: @user.full_name)
%p= t('user.mail.reset_password.reset_password_line_1')
%p= link_to t('user.mail.reset_password.change_password_link'), edit_password_url(@resource, :reset_password_token => @token)
%p= t('user.mail.reset_password.reset_password_line_2')
%p= t('user.mail.reset_password.reset_password_line_3')
